.pieechart2 {
  width: 120px;
  height: 120px;
  border: 1rem solid;
  border-color: #147AD6#147AD6 #147ad6 #147ad6;
  border-radius: 50%;
  border-left-color: rgba(115, 136, 169, 0.353283);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 35px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}
.piechartcontainer{
    width: 400px;
    height: 400px;
    font-weight: bold;
    font-size: 35px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}
.pietext{
    font-weight: bold;
    font-size: 35px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    position: relative;
    top: 7.3rem;   
}